<!-- This is the template for the list of all questions, which is made up of individual question views. -->
<template name="questionList">
  <!-- Clicking View All Questions takes the user to the question list view. -->
  {{#unless showQuestionList}}
    <h4 id="toggleDisplayQuestions" class="clickable">View All Questions</h4>
  {{/unless}}
  <!--
  Checks if the Session variable is currently indicating that the question list should be displayed. 
  If it is, just the title of each question is displayed. Else, the currently selected question is 
  displayed along with its answers.
  -->
  {{#if showQuestionList}}
    Each answer has to be just one song. You can add multiple answers.
    <h4 id="showAllQuestions" class="clickable">Questions</h4>
    {{#if questionToShow}}
      {{#each showOneQuestion}}
        {{> question}}
      {{/each}}
    {{else}}
      {{#each questions}}
        {{> questionSummary}}
      {{/each}}
    {{/if}}
  {{/if}}
</template>

<!-- The condensed view of an individual question, for the question list view. -->
<template name="questionSummary">
  <div class="questionTitle clickable">{{text}}</div>
</template>